<div class="planning">
    <div class="header-planning">
        <div class="hours-header"></div>
        @for(salle of sallesDispo; track salle){
            <span class="salle-header">Salle {{salle}}</span>
        }
    </div>

    <div *ngFor="let block of blocks; let last = last"
    class="time-row"
    [style.min-height.px]="block.heightPercent * 3">

        <div class="hours">
            <div *ngFor="let h of getHours(block.startMin, block.endMin); let i = index"
            class="hour-item"
            [style.height.%]="110 / getHours(block.startMin, block.endMin).length">
                {{ h }}h
            </div>

            <!-- pause compressée uniquement si ce bloc le nécessite -->
            <div *ngIf="block.type === 'morning'" 
                class="pause" 
                [style.height.px]="PAUSE_HEIGHT"></div>
        </div>

        <div class="body-planning">
        @for(salle of sallesDispo; track salle){
            <div class="salle-cell" [style.height.px]="block.heightPercent * 3">
                @for(slot of slotsInBlock(block); track slot){
                    <div class="time-grid">
                        @for(mark of [].constructor(getQuarterHourMarks(block)); track $index){
                            <div class="quarter-mark" 
                                [style.top.%]="($index / getQuarterHourMarks(block)) * 100">
                            </div>
                        }
                    </div>

                    @if(slot.salle === salle && checkSameDay(slot.dateDebut, jourActuel)){
                        <app-slot 
                            [slot]="slot"
                            (editSlot)="onEditSlot($event)">
                        </app-slot>
                    }
                }
            </div>
            @if(block.type === 'morning'){
                <div class="pause" [style.height.px]="PAUSE_HEIGHT"></div>
            }
        }
        </div>
    </div>
</div>