.planning {
  height: 70vh;
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-planning {
  background-color: #D9D9D9;
  height: 50px;
  min-width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.hours-header {
  width: 35px;
}

.salle-header {
  text-align: center;
  min-width: 200px;
}

.planning-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.time-row {
  display: flex; 
  flex-direction: row; 
  width: max-content;
}

.time-row:last-child {
  margin-bottom: 0; 
}

.hours {
  width: 35px;
  border-right: 1px solid #ddd;
}

.hour-item {
  flex: 1; 
  min-height: 80px; 
  display: flex;
  align-items: flex-start;
  padding: 4px 2px;
}

.body-planning {
  background-color: #F7F7F7; 
  width: 100%;
  display: flex;
  flex:1;
}

.time-block {
  display: flex;
  position: relative;
}

.pause {
  background: #f5f5f5;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  position: relative;
  top: -7%;
}

.salle-cell {
  background: #f5f5f5;
    position: relative;
    display: flex; 
    align-items: flex-start;
    flex: 0 0 200px;
    flex-direction: column;
    min-height: 100%; 
    padding: 2px;
    border-left: 1px solid #e0e0e0;
}

.salle-cell:first-child {
  border-left: none;
}

.salle-cell:last-child {
  border-right: none;
}