.add-update-schedule{
  display: flex;
  margin: 0 auto;
  gap: 15px;
  padding-left: 4px;
}

.planning {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slot-box {
    border: 2px dashed;
    border-radius: 7px;
    flex-shrink: 0; 
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}

.header-planning {
  background-color: #D9D9D9;
  height: 50px;
  min-width: max-content;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-shrink: 0;
  padding-left: 35px;
}

.hours-header {
  width: 0px;
}

.salle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 210px;
  width: 100%;
  height: 50px;
  border-left: 1px solid #636363;
}

.salle-header:first-child {
  border-left: none;
}

.time-row {
  display: flex; 
  flex-direction: row; 
  min-width: 210px;
  width: 100%;
}

.time-row:last-child {
  margin-bottom: 0; 
}

.hours {
  width: 35px;
  border-right: 1px solid #ddd;
}

.hour-item {
  width: 35px;
  flex: 1; 
  min-height: 80px; 
  display: flex;
  align-items: flex-start;
  padding: 4px 2px;
}

.hour-item:last-child {
  max-height: 20px !important;
  margin-bottom: 20px;
}

.body-planning {
  background-color: #F7F7F7; 
  width: 100%;
  display: flex;
  flex:1;
}

.time-block {
  display: flex;
  position: relative;
}

.pause {
  background: #f7f7f7;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  position: relative;
  top: -17%;
  z-index: 100;
  width: 100%;
}

.salle-cell {
    background: #f5f5f5;
      /*repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(25% - 0.5px),
        #d0d0d0 calc(25% - 0.5px),
        #d0d0d0 calc(25% + 0.5px)
      );*/
    position: relative;
    display: flex; 
    align-items: flex-start;
    /* justify-content: center; */
    flex: 1 1 auto;
    min-width: 210px;
    width: 100%;
    flex-direction: column;
    min-height: 100%; 
    padding: 2px;
    border-left: 1px solid #d1d1d1;
}

.salle-cell:first-child {
  border-left: none;
}

.salle-cell:last-child {
  border-right: none;
}

.time-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
  z-index: 1; 
}

.quarter-mark {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d0d0d0;
  border-bottom: 1px dotted #d0d0d0; 
}

.quarter-mark:nth-child(4n + 1) {
  background-color: #000000; 
  border-top: 1px solid #a0a0a0;
  z-index:2;
}

.slot{
  /* margin-top: 1px; */
  margin-left: 4%;
  width: 90%;
  border-radius: 8px;
  max-width: 400px;
  position: absolute;
  /* height: 200px; */
  /* border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87); */
  cursor: move;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  /* background: #fff; */
  /* border-radius: 4px; */
  /* position: relative; */
  z-index: 100;
  /* font-family: sans-serif; */
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.slot:active {
  /* max-width: 200px; */
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.slot.preview {
  pointer-events: none;
  z-index: 10000;
}

.item {
  border-radius: 8px;
  width: 100%;
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.item:active {
  max-width: 200px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.item.preview {
  pointer-events: none;
  z-index: 10000;
}

.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}