<div class="planning">
    <div class="header-planning">
        <div class="hours-header"></div>
        @for(salle of sallesDispo; track salle){
            <span class="salle-header">Salle {{salle}}</span>
        }
    </div>

    <div *ngFor="let block of blocks; let last = last"
    class="time-row"
    [style.min-height.px]="block.heightPercent * 3">

        <div class="hours">
            <div *ngFor="let h of getHours(block.startMin, block.endMin); let i = index"
            class="hour-item"
            [style.height.%]="100 / getHours(block.startMin, block.endMin).length">
                {{ h }}h
            </div>

            <!-- pause compressée uniquement si ce bloc le nécessite -->
            <div *ngIf="block.type === 'morning'" 
                class="pause-between-blocks" 
                [style.height.px]="PAUSE_HEIGHT"></div>
        </div>

        <div class="body-planning">
        @for(salle of sallesDispo; track salle){
            <div class="salle-cell">
                @for(slot of slotsInBlock(block); track slot){
                    @if(slot.salle === salle && isSameDay(slot.dateDebut, jourActuel)){
                        <app-slot 
                            [slot]="slot"
                            (editSlot)="onEditSlot($event)">
                        </app-slot>
                    }
                }
            </div>
        }
        </div>
        <div *ngIf="block.type === 'morning' && !last" 
            class="pause-between-blocks" 
            [style.height.px]="PAUSE_HEIGHT"></div>
    </div>
</div>