.planning {
  display: flex;
  flex-direction: column;
}

.header-planning {
  background-color: #D9D9D9;
  height: 50px;
  min-width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.hours-header {
  width: 35px;
}

.salle-header {
  text-align: center;
  min-width: 200px;
}

.time-row {
  display: flex; 
  flex-direction: row; 
  width: max-content;
}

.time-row:last-child {
  margin-bottom: 0; 
}

.hours {
  width: 35px;
  border-right: 1px solid #ddd;
}

.hour-item {
  flex: 1; 
  min-height: 80px; 
  display: flex;
  align-items: flex-start;
  padding: 4px 2px;
}

.body-planning {
  background-color: #F7F7F7; 
  width: 100%;
  display: flex;
  flex:1;
}

.time-block {
  display: flex;
  position: relative;
}

.pause {
  background: #f8f8f8;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  position: relative;
  top: -14%;
  z-index: 100;
}

.salle-cell {
    background: #f5f5f5;
      /*repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(25% - 0.5px),
        #d0d0d0 calc(25% - 0.5px),
        #d0d0d0 calc(25% + 0.5px)
      );*/
    position: relative;
    display: flex; 
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 200px;
    flex-direction: column;
    min-height: 100%; 
    padding: 2px;
    border-left: 1px solid #e0e0e0;
}

.salle-cell:first-child {
  border-left: none;
}

.salle-cell:last-child {
  border-right: none;
}

.time-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
  z-index: 1; 
}

.quarter-mark {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d0d0d0;
  border-top: 1px dotted #d0d0d0; 
}

.quarter-mark:nth-child(4n) {
  background-color: #a0a0a0; 
  border-top: 1px solid #a0a0a0;
}