.planning {
  height: 70vh;
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.header-planning {
  background-color: #D9D9D9;
  height: 10%;
  min-width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hours-header {
  width: 35px;
}

.salle-header {
  text-align: center;
  min-width: 200px;
}

.time-row {
  display: flex; 
  flex-direction: row; 
  flex: 1;
  min-height: 0; /* important pour scroll vertical à l'intérieur du planning */
  width: max-content;
  /* display: grid;
    grid-template-columns: 35px repeat(auto-fill, minmax(200px, 1fr));
    width: fit-content; 
    min-width: 100%; */
}

.hours {
  width: 35px;
  border-right: 1px solid #ddd;
}

.body-planning {
  background-color: #cf5d5d; /*#F7F7F7*/
  width: 100%;
  /* min-width: max-content;
  align-items: center; */
  display: flex;
  flex:1;
    flex-direction: column;
}

.time-block {
  display: flex;
  position: relative;
}

.pause {
  background: #f5f5f5;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  position: relative;
  top: -7%;
}

.salle-cell {
  /* position: relative;
  width: 100%; */
  background: #f5f5f5;
    position: relative;
    /* pas de height */
    display: flex;          /* permet d’étendre verticalement le slot */
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%; 
    padding: 2px;
}