<div class="modal-overlay">
    <div class="modal">
        <div class="modal-topbar">
            <button type="button" (click)="onCancel()" class="close-button">
                x
            </button>
            <h1 class="modal-title">
                Soutenance {{ soutenance.dateDebut ? formatDate(soutenance.dateDebut, false, true) : '..:..' }}-{{ soutenance.dateFin ? formatDate(soutenance.dateFin, false, true) : '..:..' }} S{{ soutenance.salle ? soutenance.salle : '...' }}
            </h1>
        </div>

        <div class="form">
            <p><span>Etudiant :</span> {{ soutenance.etudiant }}</p>
            <p><span>Enseignant référent :</span> {{ soutenance.referent }}</p>
            <p><span>Entreprise :</span> {{ soutenance.entreprise }}</p>
            <p><span>Tuteur d'entreprise :</span> {{ soutenance.tuteur }}</p>
            <p><span>Enseignant lecteur :</span> {{ soutenance.lecteur }}</p>
            <div class="line-wrapper">
                <p><span>Heure début :</span> {{ soutenance.dateDebut ? formatDate(soutenance.dateDebut, false, true) : '..:..' }}</p>
                <p><span>Heure fin :</span> {{ soutenance.dateFin ? formatDate(soutenance.dateFin, false, true) : '..:..' }}</p>
            </div>
            <div class="line-wrapper">
                <p><span>Jour :</span> {{ soutenance.dateDebut ? formatDate(soutenance.dateDebut, true, false) : '..:..' }}</p>
                <p><span>Salle :</span> {{ soutenance.salle ? soutenance.salle : '...' }}</p>
            </div>
        </div>
    </div>
</div>