<div class="modal-overlay">
  <div class="modal">
    <div class="modal-topbar">
        <button type="button" (click)="onCancel()" class="close-button">
          x
        </button>
        <h1 class="modal-title">
          Soutenance {{ formatDate(soutenance.dateDebut, 'HeureToStr') }}-{{ formatDate(soutenance.dateFin, 'HeureToStr') }} S{{ soutenance.salle }}
        </h1>
    </div>
    @if (isSubmitting || !isDataLoaded) {
      <div class="loading-overlay">
        <app-loading></app-loading>
      </div>
    }
    @if (!isSubmitting && isDataLoaded) {
      <form (ngSubmit)="onSubmit()"
        [formGroup]="soutenanceForm"
        [class.disabled-form]="isSubmitting"
        class="form"
      >
        <!--Non modifiables-->
        <div class="input-wrapper">
          <label for="etudiant">Etudiant :</label>
          <input type="text" name="etudiant" id="etudiant" [value]="soutenance.etudiant" [disabled]="true">
        </div>
        <div class="input-wrapper">
          <label for="referent">Enseignant référent :</label>
          <input type="text" name="referent" id="referent" [value]="soutenance.referent" [disabled]="true">
        </div>
        <div class="input-wrapper">
          <label for="entreprise">Entreprise :</label>
          <input type="text" name="entreprise" id="entreprise" [value]="soutenance.entreprise" [disabled]="true">
        </div>
        <div class="input-wrapper">
          <label for="tuteur">Tuteur d'entreprise :</label>
          <input type="text" name="tuteur" id="tuteur" [value]="soutenance.tuteur" [disabled]="true">
        </div>

        <!--Modifiables en tant que responsable des stages-->
        <!--Enseignant lecteur-->
        <div class="input-wrapper">
          <label for="lecteur">Enseignant lecteur :</label>
          @if (editMode) {
            <select
              name="lecteur"
              id="lecteur"
              formControlName="lecteur"
            >
              <option [value]="soutenance.idLecteur" selected>
                {{ soutenance.lecteur }}
              </option>
              @if (enseignantsLecteurs.length > 0) {
                <option
                  *ngFor="let enseignantLecteur of enseignantsLecteurs"
                  [value]="enseignantLecteur.idPersonnel"
                >
                  {{ enseignantLecteur.prenom?.[0] }}. {{ enseignantLecteur.nom }}
                </option>
              }
            </select>
          <div
            class="error-message"
            *ngIf="submitted && soutenanceForm.get('lecteur')?.hasError('required')"
          >
            Veuillez sélectionner un enseignant lecteur.
          </div>
          }
          @if (!editMode) {
            <input type="text" name="lecteur" id="lecteur" [value]="soutenance.lecteur" [disabled]="!editMode">
          }
        </div>
        <!--Heure de début et de fin-->
        <div class="line-wrapper">
          <div>
            <div class="input-wrapper">
              <label for="heureDebut">Heure début :</label>
              <input type="time" 
                    name="heureDebut"
                    id="heureDebut"
                    formControlName="heureDebut"
                    [disabled]="!editMode"            >
              <div
                class="error-message"
                *ngIf="submitted && soutenanceForm.get('heureDebut')?.hasError('required')"
              >
                Veuillez sélectionner une heure de début.
              </div>
            </div>
          </div>
          <div class="input-wrapper">
            <label for="heureFin">Heure fin :</label>
            <input type="time"
                   name="heureFin"
                   id="heureFin"
                   formControlName="heureFin"
                   [disabled]="!editMode"
            >
          </div>
          <div
            class="error-message"
            *ngIf="submitted && soutenanceForm.get('heureFin')?.hasError('required')"
          >
            Veuillez sélectionner une heure de fin.
          </div>
          <div class="error-message" *ngIf="soutenanceForm.hasError('hourOrder')">
            L'heure de fin doit être postérieure à l'heure de début.
          </div>
        </div>
        <!--Jour et salle-->
        <div class="line-wrapper">
          <div class="input-wrapper">
            <label for="jour">Jour :</label>
            @if (editMode) {
              <select
                name="jour"
                id="jour"
                formControlName="jour"
                [disabled]="!editMode"
              >
                <option
                  *ngFor="let dateAcceptee of datesAcceptees"
                  [value]="dateAcceptee"
                  [disabled]="!editMode"
                >
                  {{ formatStringDate(dateAcceptee) }}
                </option>
              </select>
              <div
                class="error-message"
                *ngIf="submitted && soutenanceForm.get('jour')?.hasError('required')"
              >
                Veuillez sélectionner un jour.
              </div>
            }
            @else {
              <input type="date" name="jour" id="jour" [disabled]="!editMode" [value]="dateSoutenance">
            }
          </div>
          <div class="input-wrapper">
            <label for="salle">Salle :</label>
            @if (editMode) {
              <select
                name="salle"
                id="salle"
                formControlName="salle"
                [disabled]="!editMode"
              >
                <option
                  *ngFor="let salle of sallesDispo"
                  [value]="salle"
                  [disabled]="!editMode"
                >
                  {{ salle }}
                </option>
              </select>
              <div
                class="error-message"
                *ngIf="submitted && soutenanceForm.get('salle')?.hasError('required')"
              >
                Veuillez sélectionner une salle.
              </div>
            }
            @else {
              <input type="text" name="salle" id="salle" [value]="soutenance.salle" [disabled]="!editMode">
            }
          </div>
        </div>
        <!-- Boutons (mode édition) -->
        @if (editMode)
        {
          <div class="modal-buttons">
            <button type="button" (click)="onCancel()" class="cancel-button">
                Annuler
            </button>
            <button type="submit" class="validate-button">
              Valider
            </button>
          </div>
        }
      </form>
    }
  </div>
</div>