<div class="data-category">
  <app-loading *ngIf="loading" />
  <div *ngIf="!loading">
    <nav aria-label="breadcrumb">
        <ol class="data-category--title">
          <li>
            <a routerLink="/data-management">Gestion des données</a>
          </li>
          <li>/</li>
          <li class="active">{{ categorie.charAt(0).toUpperCase() + categorie.slice(1) }}</li>
        </ol>
      </nav>

    <div class="table-view">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              @for (col of cols_labels; track col) {
                <th>{{ col }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (item of data; track $index) {
              <tr>
                @for (col of cols; track col; let isFirst = $first; let isLast = $last) {
                  @if (col !== "longitudeAdresse" && col !== "latitudeAdresse")
                  {
                    @if (col === "tierTemps" || col === "estTechnique" || col === "estDisponible") {
                    <td [class.firstTd]="isFirst" 
                        [class.lastTd]="isLast">
                      
                      {{ $any(item)[col] === 1 ? "Oui" : "Non" }}
                    </td>                    
                    }
                    @else if (col === "idDepartement") {
                      <td [class.firstTd]="isFirst" 
                          [class.lastTd]="isLast">
                        
                        {{ getLibelleByIdAndData($any(item)[col], this.departments) }}
                      </td>                     
                    }
                    @else if (col === "idEntreprise") {
                      <td [class.firstTd]="isFirst" 
                          [class.lastTd]="isLast">
                        
                        {{ getLibelleByIdAndData($any(item)[col], this.companies) }}
                      </td>                     
                    }
                    @else if (col === "idTuteur") {
                      <td [class.firstTd]="isFirst" 
                          [class.lastTd]="isLast">
                        
                        {{ getLibelleByIdAndData($any(item)[col], this.tutors) }}
                      </td>                     
                    }
                    @else {
                      <td [class.firstTd]="isFirst" 
                          [class.lastTd]="isLast">
                        
                        <!--$any permet une gestion des différents types de valeurs-->
                        @if ($any(item)[col] === null) {
                          <span>Non renseigné</span>
                        }
                        @else {
                          {{ $any(item)[col] }}
                        }
                      </td>
                    }
                  }
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
