<div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <h3 class="modal-title">Ajouter un étudiant</h3>
        <button type="button" class="close-button" (click)="onCancel()">✕</button>
      </div>
  
      <div class="modal-body">
        <form
          class="form"
          [formGroup]="planningForm"
          (ngSubmit)="onSubmit()"
          [class.disabled-form]="isSubmitting"
        >  
          <!-- Promo -->
          <div class="input-wrapper">
            <label>Promo étudiants* :</label>
            <select formControlName="idAnneeFormation">
              <option [ngValue]="null">-- Sélectionner --</option>
              <option
                *ngFor="let promo of promos"
                [ngValue]="promo.idAnneeFormation"
              >
                {{ promo.libelle }}
              </option>
            </select>
          </div>
          <div
            class="error-message"
            *ngIf="
              submitted &&
              planningForm.get('idAnneeFormation')?.hasError('required')
            "
          >
            La promo est obligatoire.
          </div>
          @if(promo.idAnneeFormation)
          <!-- Etudiant -->
          <div class="input-wrapper">
            <label>Etudiants* :</label>
  
            <div class="multi-select">
              <div
                class="select-box"
                cdkOverlayOrigin
                #origin="cdkOverlayOrigin"
                (click)="dropdownOpen = !dropdownOpen"
              >
                {{ selectedSallesText }}
                <span class="arrow"></span>
              </div>
  
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="origin"
                [cdkConnectedOverlayOpen]="dropdownOpen"
                [cdkConnectedOverlayHasBackdrop]="true"
                [cdkConnectedOverlayBackdropClass]="'transparent-backdrop'"
                (backdropClick)="dropdownOpen = false"
              >
                <div class="options">
                  <label *ngFor="let salle of salles" class="option">
                    <input
                      type="checkbox"
                      [checked]="selectedSalles.includes(salle)"
                      (change)="onSalleToggle($event, salle)"
                    />
                    {{ salle.nomSalle }}
                  </label>
                </div>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
  
      <!-- Btn -->
      <div class="modal-footer">
        <button type="button" class="cancel-button" (click)="onCancel()">
          Annuler
        </button>
        <button
          class="generate-button"
          [disabled]="isSubmitting"
          (click)="onSubmit()"
        >
          Ajouter
        </button>
      </div>
    </div>
  </div>
  