.schedule {
    flex: 1;
    min-width: 0; 
    overflow: hidden; 
}

.content {
    width: 100%; 
    max-height: 100vh;
}

.planning-scroll {
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    width: 100%;
}

.scroll-day{
    background-color: #DEEDFF;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80px; 
    flex-shrink: 0; 
}

.jour{
    display: block;
    justify-self: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

.selectedJour {
    display: block;
    justify-self: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #9FC8E9;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    justify-self: center;
}

.header-schedule-content {
    display: flex;
    justify-content: space-around;
    height: 50px;
    /* margin-bottom: 15px; */
}

h4{
    color: #a40a0a;
}

.schedule-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 15px;
    flex-wrap: nowrap;
    overflow: hidden; 
}

.footer {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.btn {
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.primary {
    background-color: #0A63A4;
    color: white;
    border: 1px solid #0A63A4;
}

.secondary {
    background-color: #A2A2A2;
    color: white;
    border: 1px solid #A2A2A2;
}