<div class="schedule">
        @if (!allDataLoaded || isValidating) {
            <app-loading/>
        }
        @if(!planning || planning === undefined || planning === null) {
            @if(isEditMode){
                <h1 class="warning"><b>Le planning demandé n'existe pas.</b></h1>
            }
            @else{
                <h1 class="warning"><b>Une erreur est survenue avec les données du nouveau planning.</b></h1>
            }
        }
        @else{
            <div class="content" [hidden]="!allDataLoaded || isValidating">
                <div class="header-schedule-content">
                    <div>
                        <h3>{{planning.nom}}</h3>
                    </div>
                    <!-- <span style="width: 2%;"></span> -->
                    <h3 class="title">{{selectedJour | date:'EEEE dd MMMM yyyy':'':'fr'}}</h3>
                    <h4>&#x26A0; Planning non enregistré</h4>
                </div>
                <button class="little-btn primary" (click)="openModalStudent()"><b>
                    Ajouter un étudiant
                </b></button>
                <div>
                    <div class="schedule-content">
                        <div class="planning-scroll">
                            <app-schedule-board
                            *ngIf="selectedJour"
                            [jourActuel]="selectedJour"
                            [slots]="slots"
                            [sallesDispo]="sallesAffiches"
                            [timeBlocks]="timeBlocks"
                            [onlyDisplay]="false"
                            [planningByDay]="planningByDay"
                            (editSlot)="openEditModal($event)"
                            (slotUpdated)="onSlotUpdated($event)"></app-schedule-board>
                        </div>
                        <div class="scroll-day">
                            <div *ngFor="let jour of jours">
                                @if(selectedJour === jour){
                                    <span class="selectedJour">{{jour | date:'EEE d':'':'fr'}}</span>
                                }
                                @else {
                                    <span class="jour" (click)="updateJour(jour)">{{jour | date:'EEE d':'':'fr'}}</span>
                                }
                            </div>
                              <span class="jour" title="Ajouter un jour" (click)="openModalJour()"><b>+</b></span>
                        </div>
                    </div>            
                </div>
                <div class="footer">
                    <button class="btn secondary" (click)="exit()"><b>Annuler</b></button>
                        <button class="btn primary" (click)="onValidate()"><b>
                            @if (isEditMode){
                                Valider
                            }
                            @else {
                                Ajouter
                            }
                        </b></button>
                </div>
            </div>
        }
</div>

<app-modale-soutenance
  *ngIf="isModalOpen"
  (cancel)="isModalOpen = false"
  [soutenance]="selectedSoutenance!"/>

<app-modale
  *ngIf="modalOpen"
  [title]="title"
  (submit)="onSubmit()"
  (cancel)="modalOpen = false"
>
    <form
        class="form"
        [formGroup]="planningForm"
        (ngSubmit)="onSubmit()"
        [class.disabled-form]="isSubmitting"
      >
    @if (modalStudent){

        <!-- Promo -->
        <div class="input-wrapper">
          <label>Promo étudiants* :</label>
          <select formControlName="idAnneeFormation">
            <option [ngValue]="null" selected>-- Sélectionner --</option>
            <option
              *ngFor="let promo of promos"
              [ngValue]="promo.idAnneeFormation"
            >
              {{ promo.libelle }}
            </option>
          </select>
        </div>
        <div
          class="error-message"
          *ngIf="
            submitted &&
            planningForm.get('idAnneeFormation')?.hasError('required')
          "
        > 
          La promo est obligatoire.
        </div>


        <!-- Etudiants -->
        @if(promoSelected){
            <div class="input-wrapper">
                <label>Etudiants* :</label>

                <div class="multi-select">
                    <div
                    class="select-box"
                    cdkOverlayOrigin
                    #origin="cdkOverlayOrigin"
                    (click)="dropdownOpen = !dropdownOpen"
                    >
                    {{ selectedStudentsText }}
                    <span class="arrow"></span>
                    </div>

                    <ng-template
                    cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="origin"
                    [cdkConnectedOverlayOpen]="dropdownOpen"
                    [cdkConnectedOverlayHasBackdrop]="true"
                    [cdkConnectedOverlayBackdropClass]="'transparent-backdrop'"
                    (backdropClick)="dropdownOpen = false"
                    >
                    <div class="options">
                        <label *ngFor="let student of students" class="option">
                        <input
                            type="checkbox"
                            [checked]="selectedStudents.includes(student)"
                            (change)="onStudentToggle($event, student)"
                        />
                        {{ student.nom }} {{ student.prenom }}
                        </label>
                    </div>
                    </ng-template>
                </div>
            </div>
        }
    }
    @else {
        <!-- Date -->
        <div class="line-wrapper">
            <div class="input-wrapper">
              <label>Date* :</label>
              <input type="date" formControlName="date" />
            </div>
        </div>
    }
      </form>

</app-modale>