.slot {
    /* left: 2px;
    right: 2px; */
    position: absolute;
    background: #CFE9FF;
    border: 1px solid #153956;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */
    /* box-sizing: border-box; */
    margin-top: 3%;
    margin-left: 2%;
    cursor: pointer;
    z-index: 10;
    width: 90%;
    max-width: 400px;
}

.slot:hover {
    background: #B8DEFF;
}