.slot {
    left: 2px;
    right: 2px;
    background: #CFE9FF;
    border: 1px solid #153956;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
    display: block;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}
