.slot{
    border: 1px solid #153956;
    background-color: #CFE9FF;
    width: 26vh;
    height: fit-content;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 5%;
    padding-left: 5px;
}