<div class="slot"
    [style.top.%]="slot.topPercent"
    (click)="onSlotClick()">

    <div class="slot-header">
        <b>{{ slot.dateDebut ? (slot.dateDebut | date:'HH:mm') : '.. : ..' }} - {{ slot.dateFin ? (slot.dateFin | date:'HH:mm') : '.. : ..' }}</b>
        <b>{{slot.tierTemps ? 'TT' : ''}}</b>
    </div>
    <p><b>Etudiant :</b> {{slot.etudiant}}</p>
    <p><b>Référent :</b> {{slot.referent}}</p>
    <p><b>Entreprise :</b> {{slot.entreprise}}</p>
    <p><b>Lecteur :</b> {{slot.lecteur ? slot.lecteur : '...'}}</p>
</div>