<div class="schedule">
    <div class="content">
      @if (!currentUser || !allDataLoaded) {
        <app-loading/>
      }
        <div [hidden]="!allDataLoaded" class="header-schedule-content">
            <div>
                <select id="select-schedule" class="select-schedule" [(ngModel)]="selectedOption">
                    @for (option of optionSchedule; track option){
                        <option value="{{option}}">{{option}}</option>
                    }            
                </select>
                &nbsp;
                <button (click)="goToAdd()"class="btn-generate-schedule" *ngIf="selectedOption !== 'Sélectionner un planning existant'">+</button>
            </div>
          <h3 class="title" *ngIf="selectedOption !== 'Sélectionner un planning existant'">{{selectedJour | date:'EEEE dd MMMM yyyy':'':'fr'}}</h3>
            <div *ngIf="selectedOption !== 'Sélectionner un planning existant'">
                <button (click)="goToUpdate()"class="btn-update-schedule">Modifier</button>
                &nbsp;
                <button (click)="export()"class="btn-export-schedule">Exporter</button>
            </div>
        </div>
        <div [hidden]="!allDataLoaded">
            <div class="empty-schedule" *ngIf="selectedOption === 'Sélectionner un planning existant'">
                <button (click)="goToAdd()"class="btn-generate-schedule">Générer un planning</button>
            </div>
            <div *ngIf="selectedOption !== 'Sélectionner un planning existant'" class="schedule-content">              
                @if (allDataLoaded) {
                    <app-schedule-board
                    [jourActuel]="selectedJour"
                    [slots]="slots"
                    [sallesDispo]="sallesDispo"
                    [timeBlocks]="timeBlocks"></app-schedule-board>
                }                
                <div class="scroll-day">
                    <div *ngFor="let jour of jours">
                        @if(selectedJour === jour){
                            <span class="selectedJour">{{jour | date:'EEE d':'':'fr'}}</span>
                        }
                        @else {
                            <span class="jour" (click)="updateJour(jour)">{{jour | date:'EEE d':'':'fr'}}</span>
                        }
                    </div>
                </div>
            </div>            
        </div>
    </div>
  </div>