.schedule {
    margin: 0 auto;
    padding: 32px;
    max-width: 1600px;
}

.content {
    width: 100%;
    max-height: 100vh;
}

.empty-schedule {
    border: 3px dashed #0A63A4;
    height: 70vh;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planning {
    background-color: #F7F7F7;
    height: 70vh;
    flex: 1 1 auto;
}

.planning-scroll {
    /* flex: 1; */
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    width: 100%;
}

.btn-generate-schedule {
    border: 1px solid #0A63A4;
    background-color: #0A63A4;
    color: white;
    padding: 0px 12px 5px 11px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.btn-generate-schedule:hover {
    border: 1px solid #0A63A4;
    background-color: white;
    color: #0A63A4;
}

.btn-update-schedule {
    border: 1px solid #0A63A4;
    background-color: #0A63A4;
    color: white;
    height: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.btn-update-schedule:hover {
    border: 1px solid #0A63A4;
    background-color: white;
    color: #0A63A4;
}

.btn-export-schedule {
    border: 1px solid #0A63A4;
    background-color: white;
    color: #0A63A4;
    height: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.btn-export-schedule:hover {
    border: 1px solid #0A63A4;
    background-color: #0A63A4;
    color: white;
}

.select-schedule {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid #0A63A4;
    border-radius: 15px;
    padding: 8px 40px 8px 15px;
    height: fit-content;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'><path fill='%230A63A4' d='M6 8L0 0h12z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
}

.scroll-day{
    background-color: #DEEDFF;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 0 0 80px;
}

.jour{
    display: block;
    justify-self: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

.selectedJour {
    display: block;
    justify-self: center;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #9FC8E9;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    justify-self: center;
}

.header-schedule-content {
    display: flex;
    justify-content: space-between;
}

.schedule-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 15px;
    flex-wrap: nowrap;
    margin-right: -32px;
}

@media (max-width: 768px) {
    .schedule {
        padding: 16px;
    }
} 