@if(currentUser) {
    <header>
        <div class="header-container">
            <div class="header-content">
                <!-- Logo à gauche -->
                <div class="logo-section">
                    <a routerLink="/dashboard" class="logo-link">
                        <img src="/logo_iutbpb_2018.png" alt="Logo de L'IUT" />
                    </a>
                </div>

            <!-- Navigation au centre (visible uniquement sur desktop) -->
            <nav class="main-nav">
                <ul class="nav-list">
                    <li>
                        <a
                            routerLink="/dashboard"
                            routerLinkActive="active-link"
                            class="nav-link"
                        >
                            Journal de bord
                        </a>
                    </li>
                    <li>
                        <a
                            routerLink="/factsheets"
                            routerLinkActive="active-link"
                            class="nav-link"
                        >
                            Fiche descriptive
                        </a>
                    </li>
                    <!-- @if(currentUserRole === 'INTERNSHIP_MANAGER') {
                        <li>
                            <a
                                (click)="extractAffectations()"
                                routerLinkActive="active-link"
                                class="nav-link"
                            >
                                Extraction affectations
                            </a>
                        </li>
                    } -->
                    @if(currentUserRole === 'INTERNSHIP_MANAGER') {
                        <li>
                            <a
                                routerLink="/schedule"
                                routerLinkActive="active-link"
                                class="nav-link"
                            >
                                Planification
                            </a>
                        </li>
                    }
                </ul>
            </nav>

                <!-- Avatar à droite -->
                <div class="profile-section">
                    @if (currentUser) {
                        <div class="profile-menu">
                            <button 
                                (click)="toggleProfileMenu()"
                                class="profile-button"
                            >
                                {{ getInitials() }}
                            </button>

                            @if (showProfileMenu) {
                                <div class="dropdown-menu">
                                    <div class="user-info">
                                        {{ prenomCurrentUser }} {{ nomCurrentUser }}
                                    </div>
                                    <!-- Navigation mobile dans le menu profil -->
                                    <div class="mobile-nav">
                                        <a
                                        routerLink="/dashboard"
                                        routerLinkActive="active-link"
                                        class="mobile-nav-link"
                                        (click)="toggleProfileMenu()"
                                        >
                                        Journal de bord
                                        </a>
                                        <a
                                        routerLink="/factsheets"
                                        routerLinkActive="active-link"
                                        class="mobile-nav-link"
                                        (click)="toggleProfileMenu()"
                                        >
                                        Fiche descriptive
                                        </a>
                                    </div>
                                    <button
                                        (click)="logout()"
                                        class="logout-button"
                                    >
                                        Se déconnecter
                                    </button>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    @if (isDisconnecting || isExtracting) {
        <div class="loading-overlay">
            <app-loading/>
        </div>
    }
}
